<% provide :title, @book.title %>
<ol class = "breadcrumb">
  <li class = "breadcrumb-item">
    <%= link_to "Trang chủ", admin_root_path %>
  </li>
  <li class = "breadcrumb-item">
    <%= link_to "Sách", admin_categories_path %>
  </li>
  <li class = "breadcrumb-item active">Cập nhập</li>
</ol>
<div class = "card mb-3">
  <div class = "card-header">
    <i class = "fa fa-plus-circle "></i>
    Cập nhập
  </div>
  <div class = "card-body">
    <%= render "form" %>
  </div>
</div>
