<h5>Viết bình luận về bài đánh giá</h5>
<%= form_for [@book, @review, @review.comments.build], html: {class: "form-horizontal content_cmt"},
  method: :post do |f| %>
  <div class = "control-group">
    <%= f.text_area :content, require: true, cols: 100, class: "ta-review cmt" %>
  </div>
  <div class = "control-group">
    <%= f.button "Đăng", class: "shopBtn" %>
  </div>
<% end %>
