<% provide :title, "Danh sách tài khoản" %>
<ol class = "breadcrumb">
  <li class = "breadcrumb-item">
    <%= link_to "Trang chủ", admin_root_path %>
  </li>
  <li class = "breadcrumb-item active">Tài khoản</li>
</ol>
<div class = "card mb-3">
  <div class = "card-header">
    <i class = "fa fa-list-alt "></i>
    Danh sách tài khoản
  </div>
  <div class = "card-body">
    <% if @users.any? %>
      <table class="table" id="table_users">
        <thead>
          <tr>
            <th>Họ và Tên</th>
            <th>Email</th>
            <th class="center">Chức năng</th>
          </tr>
        </thead>
        <tbody>
          <%= render "tbody_users" %>
        </tbody>
      </table>
    <% else %>
      <p class="notify">Không có tài khoản nào</p>
    <% end %>
  </div>
</div>
