<div class="jumbotron jbt">
  <div class="container text-center">
    <h1>Literary Book Review</h1>
    <p>Good books, like good friends, are few and chosen; the more select, the more enjoyable.
    </p>
  </div>
  <div class="container text-right">
    <p style="color:white;"><i>"Louisa May Alcott"</i></p>
  </div>
</div>
<div class="notify">
  <% if flash[:warning] %>
    <span style="color: green"><%= flash[:warning] %></span>
  <% elsif flash[:info] %>
    <span style="color: green"><%= flash[:info] %></span>
  <% end %>
</div>
