<div class="jumbotron jbt">
  <div class="container text-center">
    <h1>Literary Book Review</h1>
    <p>Good books, like good friends, are few and chosen; the more select, the more enjoyable.
    </p>
  </div>
  <div class="container text-right">
    <p style="color:white;"><i>"Louisa May Alcott"</i></p>
  </div>
</div>
